################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/cmake-build-debug
/out/build/x64-Debug
/out
/bin/first/backup
/bin/battleship_server.exe
*.yml
